# Dossiers de build et de cache
node_modules/
target/
.cache/
**/cache/
**/debug/
**/incremental/

# Fichiers spécifiques à l'environnement
.bash_history
.bash_logout
.bashrc
crates.toml
crates2.json
.vscode/
