node_modules/
target/
.cache/
**/cache/
**/debug/
**/incremental/
.bash_history
.bash_logout
.bashrc
crates.toml
crates2.json
.vscode/
.env/
.next/
.env.local
.env.development.local
.env.test.local
.env.production.local